<div>
  <app-header></app-header>
  <div class="container-fluid">
    <div class="row pl-2 pr-1">
      <div class="col-md-2"></div>
      <div class="col-12 col-md-8 px-md-5">
        <app-search></app-search>
        <div class="row">
          <p class="pl-sx-4 sub-header font-weight-bold">CATEGORIES</p>
        </div>
        <app-categories></app-categories>
        <div class="row">
          <p class="sub-header font-weight-bold pt-2">ALL PRODUCTS</p>
        </div>
        <app-products></app-products>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
  <div class="mobile-add-button d-flex d-md-none">
    <img src="./assets/svg/action-button.svg" width="44"/>
  </div>
  <app-footer></app-footer>
</div>
